@media (max-width: 375px) {
    .main {
        width: 37.5rem;
        padding-bottom: 6.6rem;
    }

    .main .balance {
        width: 34.3rem;
        height: 9.7rem;
        border-radius: 1rem;
        margin-top: 6.7rem;
    }

    .main .balance .my-balance {
        row-gap: 0.4rem;
        margin-top: 2rem;
        margin-left: 2rem;
    }

    /* verificar*/
    .main .balance .my-balance .paragrath-balance {
        font-size: 1.7rem;
        height: 2rem;
    }

    .main .balance .my-balance .money-balance {
        font-size: 2.8rem;
        margin-top: 0.4rem;
    }

    .main .balance .logo-balance {
        height: 4rem;
        margin-top: 2.8rem;
        margin-right: 2.4rem;
    }

    .main .container-graphics {
        width: 34.3rem;
        height: 42.1rem;
        margin-top: 1.6rem;
        border-radius: 1rem;
    }

    .main .container-graphics .title-graphics {
        margin-top: 2.8rem;
        margin-left: 2rem;
        font-size: 1.8rem;
    }

    .main .container-graphics .box-graphics {
        margin-left: 2rem;
        column-gap: 1.2rem;
        height: 22.9rem;
    }

    .main .container-graphics .box-graphics .box-days {
        width: 3.3rem;
    }

    .main .container-graphics .box-graphics .box-days .box-dado {
        width: 5.8rem;
        height: 4rem;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        background-color: #382314;
        color: #fffbf6;
    }

    .main .container-graphics .box-graphics .box-days .graphics {
        width: 3.3rem;
    }

    .main .container-graphics .box-graphics .box-days .days {
        font-size: 1.3rem;
    }

    .main .container-graphics .line {
        margin-top: 2.4rem;
        margin-right: 2rem;
        margin-left: 2rem;
    }

    .main .container-graphics .month {
        margin-top: 2.4rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .main .container-graphics .month .total-month .paragrath-total-month {
        font-size: 1.7rem;
    }

    .main .container-graphics .month .total-month .money-total-month {
        font-size: 3rem;
        margin-top: 0.4rem;
    }

    .main .container-graphics .month .last-month .percentagem-last-month {
        margin-top: 2.3rem;
    }

    .main .container-graphics .month .last-month .paragrath-last-month {
        font-size: 1.7rem;
    }
}
